<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../static/dictionary.css">
<head>
    <meta charset="UTF-8">
    <title>Dictionary Website</title>
</head>
<body>

<h1 class="t">Dictionary</h1>

<div class="dictionary_main">
<h1 class="word">Word: {{word}}</h1>
<h2 class="details">Phonetic: {{phonetic}} <br><br>Meaning: {{meaning}}<br><br>Part of speech: {{part_of_speech}}</h2>
<br>
    <br>
    <a href="/"> <button  style="width:200px; height:50px; font size: 30pt; text-align: center;" type="submit" class="btn btn-outline-primary" >GO BACK</button> </a>

</div>

</body>
</html>